*.pyc
__pycache__/
.env
.DS_Store
*.egg-info
*/build/*
*/dist/*

# misc
.coverage
coverage.xml


# Home Assistant configuration
config/*
!config/configuration.yaml
config/configuration.yaml